/* ==== Debug CSS ==== */
#screener_results_wrap .common-pager .pager {
    justify-content: flex-end;
}

#screener_results_wrap .common-pager .pager {
    flex: inherit;
}

#screener_results_wrap .common-pager .rows-count-text {
    display: flex !important;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    gap: 5px;
}

#screener_results_wrap .common-pager {
    justify-content: flex-end;
}

#screener_results_wrap .common-pager .rows-count-text {
    color: #8599B1;
    margin-top: 25px;
}

/* ==== Правим выравнивание на странице эмитента  ==== */

@media only screen and (max-width: 768px) {
    .bond-table.issuer-ratings td, .bond-table.issuer-ratings th {
        align-items: center;
    }
}