/* ==== Debug CSS ==== */

#screener_results_wrap .common-pager .pager {
    justify-content: flex-end !important;
}

#screener_results_wrap .common-pager .pager {
    flex: inherit !important;
}

#screener_results_wrap .common-pager .rows-count-text {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    margin: 0 !important;
    gap: 5px !important;
}

#screener_results_wrap .common-pager {
    justify-content: flex-end !important;
    margin-bottom: -5px !important;
}

#screener_results_wrap .common-pager .rows-count-text {
    color: #8599B1 !important;
    margin-top: 0px !important;
}

/* ==== Правим выравнивание на странице эмитента  ==== */

@media only screen and (max-width: 768px) {
    .bond-table.issuer-ratings td, .bond-table.issuer-ratings th {
        align-items: center;
    }
}





@media only screen and (max-width: 390px) {
    .bond-big-card__header, .issuer .bond-big-card__header {
        align-items: flex-start;
        word-break:
    }
}

/* ==== Правим выравнивание в блоке "кредитные рейтинги" ==== */

.bond-table table tbody tr td:first-child {
    align-content: center;
}

/* ==== Правим выравнивание в блоке "события эмитента" ==== */

.bond-table.issuer-history .history-date {
    align-content: center;
}


@media only screen and (max-width: 390px) {
    .bond-big-card__header, .issuer .bond-big-card__header {
        font-family: Mulish;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: -1.5%;
        vertical-align: middle;
    }
}





/* ==== Временный HOTFIX

.screener__table-wrapper {
    max-width: -webkit-fill-available;
    overflow-x: scroll;
}

.table thead th.title, .table tbody td.title  {
    position: relative;
}

 ==== */