/* ==== Debug CSS ==== */

#screener_results_wrap .common-pager .pager {
    justify-content: flex-end !important;
}

#screener_results_wrap .common-pager .pager {
    flex: inherit !important;
}

#screener_results_wrap .common-pager .rows-count-text {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    margin: 0 !important;
    gap: 5px !important;
}

#screener_results_wrap .common-pager {
    justify-content: flex-end !important;
}

#screener_results_wrap .common-pager .rows-count-text {
    color: #8599B1 !important;
    margin-top: 0px !important;
}

/* ==== Правим выравнивание на странице эмитента  ==== */

@media only screen and (max-width: 768px) {
    .bond-table.issuer-ratings td, .bond-table.issuer-ratings th {
        align-items: center;
    }
}


@media only screen and (max-width: 390px) {
    .bond-big-card__header, .issuer .bond-big-card__header {
        align-items: flex-start;
        word-break:
    }
}


@media only screen and (max-width: 560px) {
    .bond-big-card__header h1{
        margin: auto 0px;
    }
}




@media only screen and (max-width: 768px) {
    .issuer-desc p {
        font-family: Mulish;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
    }
}

/* ==== Смена порядка ==== */

.screener .init {
    flex-direction: row-reverse;
}

/* ==== Смена иконки в мобильных версиях странициы эмитента ==== */

@media only screen and (max-width: 768px) {
#screener_results_wrap .tooltip.action-tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px !important;
    height: 40px !important;
    padding: 0px 20px;
    min-width: 32px !important;
    border-radius: 12px;
    background: rgba(245, 248, 249, 1) !important;
    color: #1db954 !important;
    font-size: 32px !important;
    font-weight: 200 !important;
    border: none;
    margin-bottom: -35px;
    opacity: 1;
}
}

/* ====  Шрифт рейтинга как в макете ==== */

.link-arrow {
    font-family: Mulish;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -1.5%;
}

@media only screen and (max-width: 992px) {
    .link-arrow {
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .link-arrow {
        font-size: 14px;
    }
}

@media only screen and (max-width: 450px) {
    .link-arrow {
        font-weight: 500;
    }
}

/* ==== Правим цвет описания эмитента ==== */

.issuer-desc p {
    color: rgba(55, 63, 72, 1);
}

/* ==== Правим выравнивание в блоке "кредитные рейтинги" ==== */

.bond-table table tbody tr td:first-child {
    align-content: center;
}

/* ==== Правим выравнивание в блоке "события эмитента" ==== */

.bond-table.issuer-history .history-date {
    align-content: center;
}
.bond-table.issuer-history .history-event {
    align-content: center;
}



@media only screen and (max-width: 390px) {
    .bond-big-card__header, .issuer .bond-big-card__header {
        font-family: Mulish;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: -1.5%;
        vertical-align: middle;
    }
}







.screener__table-wrapper {
    max-width: -webkit-fill-available;
    overflow-x: scroll;
}

.table thead th.title, .table tbody td.title  {
    position: relative;
}

